<header>
	<h1><img src="/images/logo-pwf-01.png" alt="" class="logo" /></h1>
	<div>
	<% if (current_user) { %>
		<p><a href="/podcasts">List podcasts JSON</a></p>
		<p><a href="/sittings/create/5143">Create new sitting for podcast "5143"</a></p>
	<% } else { %>
		<p><a href="/users/login">Login now</a></p>
		<p><a href="/users/create">Register for an account</a></p>
	<% } %>
	</div>
</header>
<main>
	<section class="search">
		<h3>Anything you want to listen to?</h3>
		<div class="medium-centered medium-6 columns">
			<input type="text" placeholder="Some awesome show I heard about from friends" />
		</div>
		<!-- <a id="submit" href="#" class="button">Take me there</a> -->
	</section>
	<section class="current">
		<h3>What others are currently listening to</h3>
		<% sittings.forEach(function(sitting) { %>
			<div class="podcast-container medium-3 columns">
				<div class="podcast">
					<div class="people-count"><%= sitting.user_ids.length %></div>
					<div class="podcast-timeline">
						<!-- synced with the current time of the podcast being listened to -->
						<div class="time-bar" id="<%=sitting.podcast.xid%>" data-max="<%=sitting.podcast.duration%>" data-val="<%= 10 %>"%>"></div>
						<a href="/sittings/<%= sitting._id %>"><%= sitting.podcast.title %></a>
					</div>
				</div>
			</div>
		<% }); %>
	</section>
</main>
