<% if (!current_user) { %>
	<div class="login">
		<p class="nav-text"><a href="/users/login">Log in</a></p>
	</div>
	<div class="login">
		<p class="nav-text"><a href="/users/create">Sign up</a></p>
	</div>
<% } else { %>
	<p>Logged in as <%= current_user._id %></p>
<% } %>


<div class="loader off">
	<div class="spinkit sk-three-bounce">
		<div class="sk-child sk-bounce1"></div>
		<div class="sk-child sk-bounce2"></div>
		<div class="sk-child sk-bounce3"></div>
	</div>
</div>

<header>
  <h1><a href="/"><img src="/images/logo-pwf-01.png" alt="" class="logo" /></a></h1>
</header>
<main>
	<section class="search">
		<h3>Anything you want to listen to?</h3>
		<div class="medium-centered medium-6 columns">
		  <form method="GET" action="/search">
				<input name="q" type="text" placeholder="Some awesome show I heard about from friends" />
			</form>
		</div>
		<!-- <a id="submit" href="#" class="button">Take me there</a> -->
	</section>
	<section class="current">
		<h3>What others are currently listening to</h3>
		<ul class="medium-block-grid-4">
		<% sittings.forEach(function(sitting) { %>
			<li class="podcast-container">
				<div class="podcast">
					<div class="play_border">
    					<div class="play_button"></div>
    				</div>
					<div class="people-count">Current listeners: <%= sitting.user_ids.length %></div>
					<% if (!current_user) { %>
					<div class="podcast-title"><%= sitting.podcast.title %></div>
					<% } else { %>
					<div class="podcast-title"><a href="/sittings/<%= sitting._id %>"><%= sitting.podcast.title %></a></div>
					<% } %> 
					<div class="podcast-timeline">
						<!-- synced with the current time of the podcast being listened to -->
						<div class="time-bar" id="<%=sitting.podcast.xid%>" data-max="<%=sitting.podcast.duration%>" data-val="<%= 10 %>"%>"></div>
					</div>
				</div>
			</li>
		<% }); %>
		</ul>
	</section>
</main>
