<% if (_.isEmpty(sitting)) { %>
  <h1>Sitting not found</h1>
<% } else { %>

<main>
	<!-- show -->
	<section class="show medium-4 columns">
		<img class="show-logo" src="<%= sitting.podcast.image_full_url %>"/>
		<div class="show-info">
			<p class="show-name"><%= sitting.podcast.show_title %></p>
			<p class="show-episode"><%= sitting.podcast.title %></p>
			<div class="show-timeline">
				<!-- synced with the current time of the podcast being listened to -->
				<div class="time-bar" id="<%=sitting.podcast.xid%>" data-max="<%=sitting.podcast.duration%>" data-val="<%= 10 %>"%>"></div>
			</div>
			<audio id="audio-player" preload  >
			  <source src="<%= sitting.podcast.audio_url %>" type="audio/mpeg">
			  Your browser does not support the audio tag.
			</audio>
		</div>
	</section>
	<!-- people -->
	<section class="users medium-8 columns">
		<ul class="listener-all row">
			<h3>People listening to this episode</h3>
			<% sitting.users.forEach(function(user) { %>
			<li class="listener-grid-li" id="<%=user._id%>">
				<div class="listener-video-container">
					<div class="listener-video">
						<!-- stream video will go here -->
					</div>
					<!-- spin wave: add inactive class when listener is not using audio chat -->
					<div class="spinkit sk-wave">
						<div class="sk-rect sk-rect1"></div>
						<div class="sk-rect sk-rect2"></div>
						<div class="sk-rect sk-rect3"></div>
						<div class="sk-rect sk-rect4"></div>
						<div class="sk-rect sk-rect5"></div>
					</div>
					<div class="mute on"></div>
				</div>
				<!--<div class="listener-name"><%=user.username%></div>-->
				<div class="listener-name">user</div>
			</li>
			<% }); %>
		</ul>
		<!-- user activity -->
		<div class="activity row">
			<h3>Chat</h3>
			<div class="chat-block">
				<div class="text-chat">
				</div>
			</div>
		</div>
		<div class="chat row">
            <form id="chat-input">
			<input class="small-10 columns" type="text" placeholder="What are you thinking" />
            </form>
		</div>
	</section>
	<a href="/" class="button expand">Take me to another pod</a>
</main>
<% } %>


<script type="text/javascript">
var ready = function(){
    var hostname=<%-JSON.stringify(process.env.HOSTNAME)%>;
    var name=<%-JSON.stringify(current_user ? current_user.username : 'Anonymous Coward')%>;
    var room=<%-JSON.stringify(room_id)%>;
    start_chat(hostname, name, room)
};
document.addEventListener('DOMContentLoaded', ready, false);
</script>
